*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;

}
.info img{
    width: 400px;
    margin: auto;
    display: block;
}

h1{
    text-align: center;
}
.link a{
    color: purple;
    text-decoration: none;
    font-weight: 500;
}
.link{

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.link ul{
    grid-area: 1fr;
}

.link img{
    grid-area: 1fr;
    width: 300px;
}
footer p{
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    background-color: aquamarine;
}
