@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Noto Serif', serif;

}

.direc {
  writing-mode: vertical-rl;
text-orientation: upright;
position: sticky;
}